body{

    background-color: #157dd2;
    color: YELLOW;


    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 50px;
    margin-left: 50px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;

    text-align: justify;

    font-family: "Kode Mono", serif;

    font-size: xx-large;

     & img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 40%;
    }

  text-align: center;
    border: orangered;



    }

